body {
	background-color: lightBlue;
}

#header {
	background-color: pink;
	height: 100px;
	padding: 5px 5px 10px 5px;
	margin: 10px 5px 10px 5px;
}

#left {
	background-color: grey;
	height: 300px;
	width: 62%;
	float: left;
	padding: 5px 5px 10px 5px;
	margin: 10px 5px 10px 5px;
}

#right {
	background-color: DarkGrey;
    height: 300px;
    width: 32%;
    float: right;
    padding: 5px 5px 10px 5px;
    margin: 10px 21px 19px 5px;
}

#footer {
	background-color: pink;
	height: 100px;
	clear: both;
	padding: 5px 5px 10px 5px;
	margin: 10px 5px 10px 5px;
}